body{
    padding: 0;
    margin: 0;
}

.logo{
    height: 30px;
}

img.noticia{
    max-width: 720px;
    margin: 10px;
}

.autor{
    margin-left: 10px;
}


/*bootstrap override*/
.navbar-brand{
    padding: 8px 15px;
}
