$(function() {
  swal({title: "Obrigado!", text: "Você receberá os conteúdos em até 7 dias", type: "success", confirmButtonText: "Ok!", timer: 100000});
  $('.form-lead').html('<h4 class="text-center">Obrigado por se cadastrar, você receberá o conteúdo em até 7 dias!</h2>');
});