<%= content_for :title, 'Home' %>
<%= content_for :description, 'Home - 7 DIAS PARA O SUCESSO' %>

<!-- Lista de post  -->
<div class="row">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h3>
            Titulo
          </h3>
          <small><i class="fa fa-calendar"> 10/01/2017 10:30 AM</i></small>
          <small class="autor"><i class="fa fa-user"> Murilo Lucas</i></small>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <a href="#" class="thumbnail">
          <%= image_tag 'img.jpg', alt: 'Noticia img', class: 'noticia' %>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Pellentesque molestie at mauris nec elementum.
        Vivamus varius lacus consequat sodales vestibulum...
        <a href="/">Leia mais</a>
      </div>
    </div>
  </div>
</div>

<!--Paginação-->
<div class="row">
  <div class="col-md-8">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </div>
</div>
<!-- End Paginação -->