body{
    padding: 0;
    margin: 0;
    background-color: #f1f1f1;
}

hr {
    border-top: 1px solid #fac22e;
}

header {
    position: relative;
    width: 100%;
    min-height: 100%;
    overflow-y: hidden;
    background: image-url('bg-pattern.png'), linear-gradient(to left, #35235f, #112c54);
    color: #fff;

    .header-content {
        text-align: left;
        padding: 0;
        height: 100vh;
        .col-md-12{
            min-width: 400px;
        }
    }

    .header-content .header-content-inner {
        max-width: none;
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    .newsletter{
        background: transparent;

        h3{
            font-size: 20px;
            margin: 10px 0 30px 0;
        }

        .btn-success {
            background: rgba(255,255,255, 0.30);
            border: none;
        }
    }

}


.offset-left{
    position: fixed;
    left: -20px;
    transition: 1s;
}
.offset-right{
    position: fixed;
    left: 0;
    transition: 1s;
}

.sidebar{
    background-color: #ffffff;
    min-height: 800px;

    ul{
        list-style: none;
        font-size: 18px;
        width: 300px;
        margin: 20px 0;
    }
}

.banner{
    display: flex;
    justify-content: center;
}

.blog{
    margin-top: 10px;

    h4{
        a{
            color: #33235e;
        }
        a:hover{
            color: #e6be21;
        }
    }

    p a{
        color: #e6be21;
    }
    a:hover{
        color: #33235e;
    }

    .clear{
        clear: left;
    }

    .post{
        margin: 10px 0 50px 0;
    }
}

.blog-content{
    max-width: 850px;
    padding:10px;

    .page-header{
        background: linear-gradient(to left, #35235f, #112c54);
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;

        small.pull-right {
            color: #fff;
            margin-top: 15px;
            font-size: 18px;

            i.fa.fa-calendar {
                margin-right: 10px;
            }
        }

        .hash{
            color: #fac51b;
        }
    }

    .content{
        background: #fff;
        border-radius: 5px;
        padding: 20px 20px;
        margin: 0 0px;
    }

    h1, h3{
        margin: 10px 0;
        color: #fff;
    }

    img{
        margin: 10px 0;
    }

    p{
        line-height: 1.8;
        font-size: 15px;
    }
}

aside{
    .newsletter{
        width: 100%;
        min-height: auto;
        overflow-y: hidden;
        background: image-url('bg-pattern.png'), linear-gradient(to left, #35235f, #112c54);
        color: #fff;
        margin: 20px 0 ;

        h3{
            margin: 20px 0;
        }

        .btn-success {
            background: rgba(255,255,255, 0.30);
            border: none;
        }
    }
    .well-lg{
        padding-top: 0 !important;
    }
}

.quizz{
    background: image-url('quizz.png'),#d17d7e;
    height: 205px;
    min-width: 210px;
    max-width: 200px;
    margin-bottom: 10px;
    a {
        min-width: 184px;
        padding: 5px;
        position: absolute;
        bottom: 4px;
        left: 15px;
        color: #fff;
        background: #d17d7e;
        display: block;
        font-size: 14px;
    }
}

.form-lead{
    .form-control{
        background: rgba(255, 255, 255, 0.1);
        color: white;
    }
    .form-control:focus{
        border-color: #fac51b;
    }
    .form-control::-webkit-input-placeholder{
        color:#fff;
    }
    .form-control::-webkit-input-placeholder, .form-control:-moz-placeholder,
    .form-control::-moz-placeholder, .form-control:-ms-input-placeholder {
        color:#fff;
    }
}

footer{
    // margin-top: 40px;
    color:#fff;
    .footer-image{
        padding: 20px 0;
        min-height: 330px;
        background: linear-gradient(to left,
          rgba(53, 35, 95, 0.85),
          rgba(17, 44, 84, 0.85)

        ), image-url('footer.png');
        background-size: cover;
    }

    .well-lg{
        padding: 0;
    }
    .newsletter{
        background: transparent;

        h3{
            font-size: 20px;
            margin: 10px 0 30px 0;
        }

        .btn-success {
            background: rgba(255,255,255, 0.30);
            border: none;
        }
    }

    i.fa.fa-heart {
        color: #ef4d4d;
    }
}
.fb-like{
    margin: 10px 8px;
}


.info {
    padding: 10px;
    background: linear-gradient(to left, #35235f, #112c54);
    border: 1px solid #ecf0f1;
    border-top: none;

    span.hash {
        color: #fac51b;
    }
    span.data {
        color: #fff;
    }
}

h2.timer {
    line-height: 45px;
  margin-top: 10px;
  min-height: 90px;
}


.flex-row {
	display: flex;
	flex-wrap: wrap;
}
.flex-row > [class*='col-'] {
	display: flex;
	flex-direction: row;
    flex-flow: row wrap;
}

.flex-row .thumbnail,
.flex-row .caption {
	flex-direction: column;
	display: flex;
	flex: 1 0 auto;
	height: 100%;
	position: relative;
}
.flex-text {
	flex-grow: 1;
}
.flex-row img {
	min-width: 0;
	width: 100%;
}


/*Media Query*/

@media screen and (max-width: 991px) {
    header{
        .header-content {
            text-align: center;
            padding: 0;
            height: 70vh;
            .header-content-inner {
                max-width: none;
                margin: 0;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
        .col-md-5{
            .header-content {
                height: 50vh;
                text-align: center;
            }
            .header-content-inner {
                position: relative;
            }
        }
    }

    .sidebar{
        display: none;
    }

    .blog .post{
        max-width: 295px;
    }

    .col-md-12{
        width: 100%;
    }
}


/*Override bootstrap*/

.navbar-default{
    background: transparent;
}
.nav-tabs>li>a {
    color: #026b95;
}

.thumbnail{
    margin-bottom: 0;
    border-radius: 5px 5px 0px 0px;

    img, a>img{
        min-height: 136px;
    }
}
.show-category {
  margin-right: 8px;
}
