<div class="row">
    <div class="col-md-12">
        <center>
            <h4>Apoio</h4>
        </center>
    </div>
</div>

<div class="row">
    <div class="col-md-2 col-md-offset-1">
        <a href="http://www.novaescolademarketing.com.br/" target="_blank">
            <%= image_tag 'apoio1.png', alt: 'nkt', class: 'apoio', style: 'margin-top: 50px;'%>
        </a>
    </div>

    <div class="col-md-2 col-md-offset-2">
        <a href="http://site.trustvox.com.br/" target="_blank">
            <%= image_tag 'apoio2.png', alt: 'trust vox', class: 'apoio' %>
        </a>
    </div>

    <div class="col-md-2 col-md-offset-2">
        <a href="https://www.xtechcommerce.com/" target="_blank">
            <%= image_tag 'apoio3.png', alt: 'xtech', class: 'apoio', style: 'margin-top: 30px;'%>
        </a>
    </div>
</div>
